---
import "swiper/css";
import "swiper/css/pagination";

interface Props {
  images: string[];
}

const { images } = Astro.props;
const imagesForSlide = images.map((image) => {
  return image.startsWith("http")
    ? image
    : `${import.meta.env.WEBSITE_URL}/src/images/fabrica/${image}`;
});
---

<!-- Slider main container -->
<div class="swiper mt-10 col-span-1 sm:col-span-2 ">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    {
      imagesForSlide.map((img) => (
        <div class="swiper-slide">
          <img
            src={img}
            alt="Product Image"
            class="w-full h-full object-cover"
          />
        </div>
      ))
    }
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>
</div>

<style>
  .swiper {
    width: 100%;
    height: auto;
  }

  @media (max-width: 600px) {
  .swiper {
    width: 300px;
  }
  }
</style>

<script>
  import Swiper from "swiper";
  import { Pagination } from "swiper/modules";
  document.addEventListener('DOMContentLoaded', () => {
    const swiper = new Swiper(".swiper", {
      // If we need pagination
      pagination: {
        el: ".swiper-pagination",
      },
  
      modules: [Pagination],
    });
  })
</script>




