---
import LatteAnteojos from "@/icons/latteitem/LatteAnteojos.astro";
import LatteLogo from "@/icons/logos/LatteLogo.astro";
import SelectThemeChange from "../ui/themechange/SelectThemeChange.astro";
import { menuData } from "@/data/MenuData";
import { firebase } from "@/firebase/config";

const user = firebase.auth.currentUser;


// const routes = menuData.map((linkData) => {
//   const userRouter = []
//   const normalRoutes = []
//   if(user){
//     linkData.isUserRoute ? userRouter.push(linkData) : null
//   } else {
//     linkData.isUserRoute ? null : normalRoutes.push(linkData)
//   }
// })

const userRoutes = menuData.filter(linkData => linkData.isUserRoute)
const defaultRoutes = menuData.filter(linkData => !linkData.isUserRoute)

const routes = user ? userRoutes : defaultRoutes
---

<header
  class="fixed inset-x-0 top-0 z-50 flex justify-around bg-base-200 my-6 mx-auto w-5/6  rounded-full shadow-2xl border-2 border-base-300 mb-10 p-1 md:p-2 bg-opacity-70 backdrop-blur-md"
  <nav
  class="relative navbar border "
>
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle mx-4">
        <LatteLogo />
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li class="text-center">
          {
            routes.map(({ link, content }) => (
              <div class="btn btn-primary btn-outline my-2">
                <a
                  href={link}
                  class="block py-2 px-3 w-full text-start"
                  aria-current="page"
                >
                  {content}
                </a>
              </div>
            ))
          }
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-center"></div>
  <div class="navbar-end flex mx-4">
    <SelectThemeChange />

    <!-- {
      user ? (
        <button class="btn btn-circle w-auto px-2" id="logOut">
          <LatteAnteojos />
          Salir
        </button>
      ) : (
        <a
          class="btn btn-circle w-auto px-4 mx-2 font-bold border border-primary"
          href="/login"
        >
          <LatteAnteojos />
          Comercios
        </a>
      )
    } -->
  </div>
</header>

<script>
  import { actions } from "astro:actions";

  const btnlogOut = document.querySelector("#logOut") as HTMLButtonElement;

  btnlogOut?.addEventListener("click", async () => {
    await actions.logOut();
    window.location.replace("/");
  });
</script>
