---
import AnnounceBanner from "@/components/ui/banner/AnnounceBanner.astro"
import MainLayout from "@/layouts/MainLayout.astro"
import HeroSection from '@/components/sections/index/HeroSection.astro'
import heroImage from '@/images/index/hero-image.avif'
---

<MainLayout title="Home">
<AnnounceBanner
btnId="dismiss-button"
btnTitle="Explorá nuestros productos"
url="/"
/>

<!-- HERO -->
 <HeroSection 
 title=`El chocolate que <span
 class="text-primary-100">habla por vos</span>`
subTitle="Diseñados para expresar tus sentimientos de la mejor forma."
src={heroImage}
alt="Variedad de chocolates personalizados de Latte Chocolate"
 />
</MainLayout>