---
import MarcasSection from "@/components/sections/index/MarcasSection.astro";
import CategoriasLatte from "@/components/sections/index/CategoriasLatte.astro";
import StatsLatte from "@/components/sections/index/StatsLatte.astro";
import Redes from "@/components/sections/index/Redes.astro";
import AnnounceBanner from "@/components/ui/banner/AnnounceBanner.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@/components/sections/index/HeroSection.astro";
import BeneficiosLatte from "@/components/sections/index/BeneficiosLatte.astro";
import heroImage from "@/images/index/hero-image.avif";
import redes from "@/images/index/mockupredes.png";

import alfajorImage from "@/images/index/alfajorImage.png";
import Divider from "@/components/ui/utils/Divider.astro";
import TimeLine from "@/components/sections/index/TimeLine.astro";
---

<MainLayout title="Home">
  <AnnounceBanner
    btnId="dismiss-button"
    btnTitle="Explorá nuestros productos"
    url="/"
  />

  <!-- HERO -->
  <HeroSection
    title=`El chocolate que <span
 class="text-violet-500">habla por vos</span>`
    subTitle="Diseñados para expresar tus sentimientos de la mejor forma."
    primaryBtn="Ver productos"
    primaryBtnURL="/productos"
    src={heroImage}
    alt="Variedad de chocolates personalizados de Latte Chocolate"
  />
  <Divider />
  <MarcasSection
    title="Confianza de comercios"
    subTitle="Un producto revelador que"
  />
  <Divider />
  <BeneficiosLatte
    title="¿Por qué destacamos?"
    subTitle="En Latte, respondemos a una necesidad única en el sector de los chocolates y dulces, creando momentos únicos."
    src={heroImage}
    alt="Imagen de mockup de cajas de chocolates latte"
  />
  <Divider />

  <CategoriasLatte
    title="Nuestro segmento de categorías"
    subtitle="Si queres adquirir este tipo de segmentos enteros entra al protal comercio y crea o accede a tu cuenta."
    btnTitle="Crear mi cuenta"
    btnUrl="/register"
    img2={alfajorImage}
    alt2="imagen alfajor de la fortuna de latte chocolate"
  />
  <Divider />
  <StatsLatte
  client:visible
    title="Las mejores devoluciones del publico"
    subtitle="Nuestro producto es muy bien recibido por cada uno de nuestra red de revendedores, es un producto que realmente conviene."
  />
<TimeLine title="Un poco sobre nosotros"/>
<Divider />
<Redes src={redes} alt="Imagen mockup sobre las redes sociales de latte chocolate"/>
</MainLayout>
