---
import Navbar from "@/components/shared/Navbar.astro";
import FooterSection from "@/components/shared/FooterSection.astro";
interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<html lang="es">
  <script is:inline>
    if (localStorage.getItem("theme") === null) {
      document.documentElement.setAttribute("data-theme", "light");
    } else {
      document.documentElement.setAttribute(
        "data-theme",
        localStorage.getItem("theme") ?? ""
      );
    }
  </script>
  <script>
    import "@/assets/scripts/lenisSmoothScroll";
  </script>

  <script>
    import { themeChange } from "theme-change";
    themeChange();
  </script>

  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  
  <title>{title}</title>

  <body>
    <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
      <Navbar />
      <main class="min-h-screen mt-12">
        <slot />
      </main>
    </div>
    <FooterSection />
    <style>
      /* CSS rules for the page scrollbar */
      .scrollbar-hide::-webkit-scrollbar {
        display: none;
      }

      .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    </style>

  </body>
</html>
