---
import Accordion from '@/components/ui/utils/Accordion.astro'

interface caracteristica {
title: string,
description: string
}


interface Props {
    title: string, 
    subTitle: string,
    caracteristicas: caracteristica[]
}

const {title, subTitle, caracteristicas } = Astro.props
---
<section
  class="flex flex-col md:flex-row p-5"
>
<!-- Title and description -->
<div class="md:w-3/4">
    <!-- Each h1 and p tag renders a portion of the title and subTitle defined above -->
    <h2
      class="block text-balance text-3xl font-bold tracking-tight sm:text-4xl lg:text-6xl lg:leading-tight"
    >
      <!-- About Fragment: https://docs.astro.build/en/basics/astro-syntax/#fragments -->
      <Fragment set:html={title} />
    </h1>
    {subTitle &&
    <p
      class="mt-3 text-pretty text-lg leading-relaxed  lg:w-4/5"
    >
      {subTitle}
    </p>
  }
  </div>
  <div class="mt-5 flex flex-col gap-y-4">

  {
   caracteristicas.map((caracteristica) => (
    <Accordion title={caracteristica.title} description={caracteristica.description}/>
   ))
  }
  </div>


</section>